@font-face {
  font-family: 'TT Lakes';
  src: url(../font/TTLakes-Regular.eot);
  src: url(../font/TTLakes-Regular.eot) format("embedded-opentype"), url(../font/TTLakes-Regular.woff) format("woff"), url(../font/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(../font/TTLakes-Bold.eot);
  src: url(../font/TTLakes-Bold.eot) format("embedded-opentype"), url(../font/TTLakes-Bold.woff) format("woff"), url(../font/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(../font/TTLakes-Medium.eot);
  src: url(../font/TTLakes-Medium.eot) format("embedded-opentype"), url(../font/TTLakes-Medium.woff) format("woff"), url(../font/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  /* overflow-x: hidden;*/
  font-family: TT Lakes, serif;
  background: #F8F8F8;
  padding: 0;
  margin: 0;
}

@media (min-width: 1440px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 88px;
}

.header-container__border-1,
.header-container__border-2 {
  margin: 0 20px;
}

.header-container__logo {
  margin-right: auto;
}

.header-container__button-call,
.header-container__button-chat,
.header-container__buttom-repair {
  margin-right: 16px;
}

@media (max-width: 650px) {
  .header-container__border-1,
  .header-container__button-call,
  .header-container__button-chat,
  .header-container__button-profile {
    display: none;
  }
  .header-container__buttom-burger {
    margin-right: 16px;
  }
}

@media (min-width: 1100px) {
  .header {
    display: none;
  }
  .menu-container {
    margin: 42px 25px 7px 0;
  }
  .slide-menu {
    padding-left: 32px;
  }
  .main-title > h1 {
    padding-left: 32px;
  }
  body {
    background-color: #F8F8F8;
  }
}

.main-container {
  min-width: 320px;
  margin: 0 auto;
  background-color: #F8F8F8;
}

.main-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title__title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: bold;
}

.main-title img {
  margin-right: 12px;
}

.main-container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
}

.main-container-button__buttom-repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.main-container-button__buttom-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  text-decoration: none;
  color: black;
}

.main-container-button__buttom-repair > img,
.main-container-button__buttom-search > img {
  margin-left: 8px;
}

@media (max-width: 1100px) {
  .main-container-button {
    display: none;
  }
}

.slide-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 9px;
  margin-left: 20px;
  overflow: auto;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
}

.slide-menu a {
  text-decoration: none;
  color: #7E7E82;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin-right: 4px;
  padding: 8px 9px;
}

.slide-menu a:focus {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
}

.main-container-block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  color: #1B1C21;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container-block-1__read-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container-block-1__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 16px 16px 16px;
  max-height: 90px;
  overflow: hidden;
  font-size: 14px;
}

.main-container-block-1__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  margin-bottom: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-container-block-1__read-more-button {
  margin-left: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
  text-decoration: none;
  font-weight: 500;
}

.main-container-block-1__logo img {
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 650px) {
  .header-container {
    margin-right: 15px;
  }
  .main-container {
    margin-right: 15px;
  }
  .main-container-block-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 32px 25px 40px;
  }
  .main-container-block-1__read-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .main-container-block-1__logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .main-container-block-1__text {
    max-height: 160px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 234px;
}

.header {
  padding: 16px;
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
}

.header__title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: TT Lakes, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  white-space: pre-wrap;
  color: #7E7E82;
  /* or 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.swiper {
  min-height: 154px;
}

.swiper-slide {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 240px;
  max-width: 240px;
  height: 72px;
  max-height: 72px;
  padding: 16px;
  margin-top: 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.swiper-slide,
.swiper-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__logo {
  margin-right: auto;
  max-width: 128px;
}

.slide__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 240px;
  height: 72px;
  padding: 16px;
  margin-right: 24px;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.slide__block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__logo-icon {
  max-width: 128px;
}

.button-show {
  margin: 24px 0 24px 24px;
}

.button-text {
  text-decoration: none;
  font-family: TT Lakes;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.2px;
  color: #1B1C21;
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }
  .main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 24px 0 0 24px;
    max-height: 180px;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .swiper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-block {
    display: none;
  }
  .block,
  .buttons {
    display: none;
  }
}

.button-close {
  margin: 24px auto 24px 24px;
  display: none;
}

.class-hidden {
  display: none;
}

.class-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px auto 24px 24px;
}

.tech-block__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 224px;
  min-height: 160px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin-top: 16px;
}

.tech-block__text {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 16px;
}

.tech-block__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 16px;
}

.tech-block__btn-icon {
  width: 40px;
  height: 40px;
}

.swiper2 {
  width: 100%;
  min-height: 228px;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-block__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.title {
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
}

.title__text {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  margin: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .title__text {
    margin-left: 24px;
  }
}

@media (min-width: 768px) {
  .title__text {
    margin-left: 32px;
  }
}

.tech-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 210px;
  overflow: hidden;
}

.tech-block2__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 224px;
  max-width: 224px;
  min-height: 160px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin: 24px 24px 24px 0;
}

@media (min-width: 300px) {
  .tech-block2 {
    display: none;
  }
  .tech-block2__buttons {
    display: none;
  }
}

@media (min-width: 768px) {
  .swiper2 {
    display: none;
  }
  .tech-block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tech-block2__buttons {
    display: block;
  }
}

@media (min-width: 1440px) {
  .tech-block2 {
    margin-left: 32px;
  }
}

.tech-block__text {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 16px;
}

.tech-block__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 16px;
}

.tech-block__btn-icon {
  width: 40px;
  height: 40px;
}

.tech-block2__buttons {
  margin-left: 24px;
  margin-bottom: 32px;
}

.button-show__icon {
  margin-right: 16px;
}

.button-close__icon {
  margin-right: 16px;
}

.class-overflowVisible {
  overflow: visible;
  max-height: none;
}

.service-title {
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
}

.service-title__text {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 16px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-block__slide {
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
  min-width: 260px;
  min-height: 200px;
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .service-block {
    display: none;
  }
}

.swiper3 {
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-name {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-name__title {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.service-name__text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.service-prise {
  margin: 0 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-prise__title {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.service-prise__text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.service-time {
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-time__title {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.service-time__text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.service-btn {
  background: #FF3E79;
  border-radius: 16px;
  width: 119px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 16px;
  top: 152px;
}

.service-btn__button {
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 12px;
}

.service-btn__icon {
  margin-left: 17px;
}

.service-block__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-block2 {
  display: none;
}

@media (min-width: 768px) {
  .service-block2 {
    display: block;
  }
}

.service-tab {
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin: 0 24px 0 24px;
}

.service-tab thead {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72;
  font-weight: 500;
  text-align: left;
}

.service-tab thead th {
  padding: 24px;
}

.service-tab tbody {
  border-radius: 6px;
  background: #FFFFFF;
}

.service-tab tbody td {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  padding: 24px;
}

.service-tab tbody tr:nth-child(n-3) {
  border-bottom: 1px solid #EAEAEA;
}

.service-tab__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF3E79;
  border-radius: 16px;
  width: 119px;
  height: 32px;
}

.service-tab__text {
  font-family: TT Lakes;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 12px;
}

.service-tab__icon {
  margin-left: 17px;
}

.text-nds__text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin-left: 24px;
}

.offer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  margin-left: 24px;
  margin-bottom: 47px;
  color: #1B1C21;
}

.offer__icon {
  margin-left: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.footer__developed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  margin-left: 24px;
  margin-top: 32px;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.footer__politics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  margin: 32px auto 0 auto;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.footer__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-align: end;
  -ms-flex-negative: 10;
      flex-shrink: 10;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  margin-right: 24px;
  margin-top: 32px;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 5;
  max-width: 320px;
  height: 100%;
  background-color: #FFFFFF;
}

.menu-burger__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-burger__logo {
  margin-right: auto;
}

@media (min-width: 325px) {
  .menu-burger {
    -webkit-box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
            box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  }
}

.menu-body {
  position: fixed;
  z-index: 3;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.96;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
}

@media (min-width: 1440px) {
  .menu-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    position: static;
    width: 100%;
    height: auto;
  }
  .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    max-width: 350px;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-height: 800px;
  }
  .menu-burger__logo {
    margin-left: 22px;
  }
  .header-back-btn__icon {
    display: none;
  }
  .header-back-btn {
    display: none;
  }
  .header-search {
    margin-left: 118px;
  }
}

.active {
  left: 0;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.menu-burger__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header-back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-back-btn__icon {
  margin: 24px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-search__btn {
  margin: 24px;
}

.menu-list {
  list-style: none;
}

.menu-list li {
  margin: 24px 0;
}

.menu-list li:hover::before {
  content: url(/icon/highlight.svg);
  position: absolute;
  left: 0;
}

.menu-list a {
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.menu-list a:hover {
  color: #7E7E82;
}

.menu-burger__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
}

.contacts {
  margin-left: 24px;
}

.contacts__btn {
  margin-bottom: 16px;
}

.contacts__call {
  text-decoration: none;
}

.contacts__chat {
  margin: 0 16px;
  text-decoration: none;
}

.contacts__profile {
  text-decoration: none;
}

.contacts__mail {
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.contacts__number {
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  margin-bottom: 32px;
}

.lang__en {
  margin: 0 7px;
}

.lang a {
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.lang a:hover {
  color: #7E7E82;
}

.feedback-body {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.96;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
}

.moudul-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 5;
  max-width: 320px;
  height: 100%;
  background-color: #FFFFFF;
}

@media (min-width: 1440px) {
  .moudul-feedback {
    max-width: 440px;
  }
}

.feedback-btn-close {
  margin: 24px auto 40px 16px;
}

.feedback-btn-close__icon {
  width: 40px;
  height: 40px;
}

@media (min-width: 1440px) {
  .feedback-btn-close {
    position: absolute;
    left: -76px;
    top: 10px;
  }
}

.feedback-title {
  position: relative;
}

.feedback-title__decor {
  position: absolute;
  left: 0;
  top: 20px;
}

.feedback-title__text {
  font-family: TT Lakes;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-left: 16px;
}

@media (min-width: 1440px) {
  .feedback-title__text {
    margin-left: 32px;
    margin-top: 40px;
  }
  .feedback-title__decor {
    top: 40px;
  }
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-form input::-webkit-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form input:-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form input::-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form input::placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form textarea::-webkit-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form textarea:-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form textarea::-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form textarea::placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.feedback-form__name {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 16px 16px 0 16px;
}

.feedback-form__number {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 16px;
}

.feedback-form__email {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 16px 16px 16px;
}

.feedback-form__message {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 0 16px 16px 16px;
}

@media (min-width: 1440px) {
  .feedback-form__name {
    margin: 16px 32px 0 32px;
  }
  .feedback-form__number {
    margin: 16px 32px;
  }
  .feedback-form__email {
    margin: 0 32px 16px 32px;
  }
  .feedback-form__message {
    margin: 0 32px 16px 32px;
  }
}

.feedback-politics {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  margin: 0 16px 19px 16px;
}

.feedback-politics span {
  color: #FF3E79;
}

@media (min-width: 1440px) {
  .feedback-politics {
    margin: 0 32px 16px 32px;
  }
}

.feedbackBtn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 136px;
  height: 32px;
  margin-left: auto;
  margin-right: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF3E79;
  border-radius: 16px;
}

.feedbackBtn-submit span {
  font-family: TT Lakes;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  margin-right: 12px;
  color: #FFFFFF;
}

.call-body {
  position: fixed;
  z-index: 3;
  top: 0;
  right: +100%;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.96;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
}

.moudul-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: +100%;
  top: 0;
  z-index: 5;
  max-width: 320px;
  height: 100%;
  background-color: #FFFFFF;
}

@media (min-width: 1440px) {
  .moudul-call {
    max-width: 440px;
  }
}

.call-btn-close {
  margin: 24px auto 40px 16px;
}

.call-btn-close__icon {
  width: 40px;
  height: 40px;
}

@media (min-width: 1440px) {
  .call-btn-close {
    position: absolute;
    left: -76px;
    top: 10px;
  }
}

.call-title {
  position: relative;
}

.call-title__decor {
  position: absolute;
  left: 0;
  top: 20px;
}

.call-title__text {
  font-family: TT Lakes;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-left: 16px;
}

@media (min-width: 1440px) {
  .call-title__text {
    margin-left: 32px;
    margin-top: 40px;
  }
  .call-title__decor {
    top: 40px;
  }
}

.call-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.call-form input::-webkit-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form input:-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form input::-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form input::placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form textarea::-webkit-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form textarea:-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form textarea::-ms-input-placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form textarea::placeholder {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #B5B6BC;
}

.call-form__number {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 16px;
}

@media (min-width: 1440px) {
  .call-form__number {
    margin: 16px 32px;
  }
}

.call-politics {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  margin: 0 16px 19px 16px;
}

.call-politics span {
  color: #FF3E79;
}

@media (min-width: 1440px) {
  .call-politics {
    margin: 0 32px 16px 32px;
  }
}

.callBtn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 136px;
  height: 32px;
  margin-left: auto;
  margin-right: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FF3E79;
  border-radius: 16px;
}

.callBtn-submit span {
  font-family: TT Lakes;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  margin-right: 12px;
  color: #FFFFFF;
}

.modul-active {
  right: 0;
  position: absolute;
  z-index: 5;
}
