.call-body {
    position: fixed;
    z-index: 3;
    top: 0;
    right: +100%;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.96;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  
  .moudul-call {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: +100%;
    top: 0;
    z-index: 5;
    max-width: 320px;
    height: 100%;
    background-color: #FFFFFF;
  }
  @media (min-width: 321px) {
    .moudul-call {
      
      border-left: 1px solid #D9FFF5;
    }
  }
  
  @media (min-width: 1440px) {
    .moudul-call {
      max-width: 440px; 
      border-left: 1px solid #D9FFF5;
    }
  }
  
  
  .call-btn-close {
  margin: 24px auto 40px 16px;
    &__icon {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (min-width: 1440px) {
    .call-btn-close {
      position: absolute;
      left: -76px;
      top: 10px;
    }
  }
  
  .call-title {
    position: relative;
    width: 288px;
    height: 32px;
    margin-bottom: 24px;
  
    &__decor {
      position: absolute;
      left: 0;
      top: 20px;
    }
  
    &__text {
      font-family: TT Lakes;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
  
      color: #1B1C21;
      margin-left: 16px;
    }
  }
  
  @media (min-width: 1440px) {
    .call-title {
      margin-bottom: 48px;
      &__text {
        margin-left: 32px;
        margin-top: 40px;
      }
      &__decor {
        top: 40px;
      }
    }
  }
  
  .call-form {
  display: flex;
  flex-direction: column;
  
    input::placeholder {
      font-family: TT Lakes;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #B5B6BC;
    
  }
    textarea::placeholder {
      font-family: TT Lakes;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #B5B6BC;
    
  }
  
    &__number {
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      padding: 12px 16px;
      margin: 16px;
    }
  
  }
  
  .call-form label {
    display: none;
  }
  
  @media (min-width: 1440px) {
    .call-form {
          &__number {
        margin: 16px 32px;
          }
  }
  
  }
  
  .call-politics {
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    margin: 0 16px 19px 16px;
  }
  .call-politics span {
    color: #FF3E79;
    ;
  }
  
  @media (min-width: 1440px) {
    .call-politics{
      margin: 0 32px 16px 32px;
    }
  }
  
  .callBtn-submit {
    display: flex;
    width: 136px;
    height: 32px;
    margin-left: auto;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    background: #FF3E79;
    border-radius: 16px; 
  }
  .callBtn-submit span {
    font-family: TT Lakes;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    margin-right: 12px;
  
    color: #FFFFFF;
  }
  
  .modul-active {
    right: 0;
    position: absolute;
    z-index: 5;
  }
  