.header {

    padding: 16px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top: 1px solid #D9FFF5;;
}

.header__title {
    flex-shrink: 0;
    font-family: TT Lakes, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    color: #7E7E82;
    /* or 150% */

    letter-spacing: -0.2px;
    text-transform: uppercase;
}