.swiper2 {
 
    width: 100%;
    min-height: 228px;
    overflow-x: hidden;
    justify-content: center;
  }
  .tech-block__pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }