.tech-block {

    &__slide {
      display: flex;
      justify-content: space-between;
      min-width: 224px;
      min-height: 160px;
      background: #FFFFFF;
      border: 1px solid #EAEAEA;
      box-sizing: border-box;
      border-radius: 6px;
      margin-top: 16px;
    }
  
    &__text {
      font-family: TT Lakes;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
      text-decoration: none;
      align-self: flex-start;
      margin: 16px;
    }
  
    &__btn {
      align-self: flex-end;
      padding: 16px;
    }
  
    &__btn-icon {
      width: 40px;
      height: 40px;
    }
  }